
@model Model.EF.Category

@{
    var listCategory  = (List<Model.EF.Category>)ViewBag.Category;
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}



@section header{
    Danh sách loại tin tức
    
}
<div class="row">

    <div class="row" style="padding-left:10px;padding-right:10px;">
        @using (Html.BeginForm())
        {
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>

                        <th>
                            <input type="checkbox" id="check-all-header" />

                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in listCategory)

                    {


                        <tr>

                            <td><input type="checkbox" name="ids" value="@item.ID" /></td>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.CreatedDate</td>


                        </tr>
                    }



                </tbody>

            </table>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
        $("#check-all-header").click(function () {
            var checkedStatus = this.checked;
            $('#example tbody tr').find('td:first :checkbox').each(function () {
                $(this).prop('checked', checkedStatus);
            });

        });
    });

</script>